{% extends "base.html" %}

{% if user.is_authenticated %}
{% block topbar %}
	<li><a href="/account/logout/">Sign Out</a></li>
{% endblock topbar %}
	{% block userid %}
	<div style="float:right;color:white;margin-top:10px;margin-left:0px">Logged in as <a href="/">{{ user.username }}</a></div>
	{% endblock userid %}
{% endif %}

{% block title %}Edit Profile{% endblock %}
{% block head %} Edit Profile Details {% endblock %}

{% block content %}
{% if form.errors %}
	<p style="color:red;">
		Please Correct the error{{ form.errors|pluralize }} below.
	</p>
{% endif %}
{% if err %}
	<p style="color:red;">
		Old password is incorrect
	</p>
{% endif %}
<form action="" method="post">{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Submit">
</form>
{% endblock %}
